---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 180
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false

# 大括号：单独一行（Allman）
BreakBeforeBraces: Allman

# 变量对齐
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignTrailingComments: true
AlignEscapedNewlines: Left
AlignOperands: Align
AlignAfterOpenBracket: Align

# 短语句
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortEnumsOnASingleLine: false

# 换行
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve
Standard: c++20