[submodule "3rdparty/Qt-Fluent-Widgets"]
	path = 3rdparty/Qt-Fluent-Widgets
	url = https://github.com/Fairy-Oracle-Sanctuary/Qt-Fluent-Widgets.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdparty/Clipper2"]
	path = 3rdparty/Clipper2
	url = https://github.com/AngusJohnson/Clipper2.git
[submodule "3rdparty/zstd"]
	path = 3rdparty/zstd
	url = https://github.com/facebook/zstd.git
[submodule "3rdparty/libdxfrw"]
	path = 3rdparty/libdxfrw
	url = https://github.com/LibreCAD/libdxfrw.git
