[submodule "3rdparty/Qt-Fluent-Widgets"]
	path = 3rdparty/Qt-Fluent-Widgets
	url = https://github.com/Fairy-Oracle-Sanctuary/Qt-Fluent-Widgets.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
