* {
    font-family: "MiSans";
}

QToolBar {
    background: transparent;
    spacing: 8px;
    border: none;
}

QToolButton {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    font-size: 10px;
}

QToolButton::menu-indicator {
    width: 0px;
}

QToolButton:hover {
    background: #F6F6F9;
}

QToolButton:checked {
    background: #EEEEF3;
}

QMenu {
    border-radius: 4px;
    padding: 2px 4px;
    background-color: white;
}

QMenu::item {
    min-height: 34px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: black;
    padding: 0px 4px;
    font-size: 13px;
}

QMenu::item:selected {
    margin: 2px 0px;
    background-color: #F3F3F5;
}

QMenu::right-arrow {
    image: url(:/Resource/Icons/RightArrow.svg);
    width: 8px;
    height: 8px;
}

QMenu::separator {
    height: 1px;
    background: #E9E9E7;
    margin: 2px 0px;
}

QDoubleSpinBox {
    background: transparent;
    border: none;
    color: #111111;
    font-size: 12px;
    border-radius: 4px;
}

QComboBox {
    border: none;
    background-color: transparent;
}

QComboBox::down-arrow {
    image: url(:Resource/Icons/DownArrow.svg);
}

QComboBox QAbstractItemView {
    border: none;
    outline: 0px;
}

QComboBox QAbstractItemView::item:selected {	
    color: black;
    background-color: #F3F3F5;
}

QMenu#menu_iconMenu::item {
    padding: 0px 12px;
}
QMenu#menu_iconMenu::icon {
    left: 8px;
}

QLabel#menuSection {
    min-height: 30px;
    margin: 2px 0;
    padding-left: 2px;
    border-radius: 4px;
}

QLabel#menuSection:hover {
    background-color: #F3F3F5;
}

QWidget#widget_toolbar {
    background-color: white;
}

MyCanvasView#MyCanvasView {
    border: none;
}

QWidget#BottomFloatingToolBar,
QWidget#ColorPaletteWidget {
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #E7E9ED;
}

QWidget#SelectionHudBar {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
}

QLabel#HudLabel {
    color: #848B95;
    font-size: 12px;
}

QDoubleSpinBox#HudSpin:hover {
    background-color: #F0F0F5;
}

QDoubleSpinBox#HudSpin:focus {
    background-color: #E7E8F0;
}

QFrame#HudSeparator {
    color: #D9DCE4;
}

QWidget#LayerPanel {
    border: 1px solid #E7E9ED;
}

LayerPanel QTableWidget {
    border: none;
}

LayerPanel QTableWidget QHeaderView::section {
    border: none;
    background-color: black;
    color: white;
}

LayerPanel QTableWidget::item:selected {
	background-color: #EEEEF3;
    color: black;
}

LayerPanel QDoubleSpinBox {
    border-radius: 0px;
}

LayerPanel QDoubleSpinBox:focus {
    background-color: white;
}
